#assignment{
    background: #120D06;
    width: 100vw;
    height: 800px;
    margin:-20px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
h3{
    color: #FD6B11;
    position: absolute;
    left: 40vw;

}
h1{
    color: white;
    font-size: 60px;
    position: absolute;
    left: 37vw;

}

.wrapper{
    width: 90%;
    margin: 0 auto;
    max-width: 80rem;
    background: #120D06;
    position: absolute;
    margin-top: 134px;
    left: 300px;
}
.cols{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.col{
    width: calc(25% - 2rem);
    margin: 1rem;
    cursor: pointer;
}

.container{
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-perspective: 1000px;
    perspective: 1000px;
}

.front,
.back{
    background-size: cover;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.25);
    border-radius: 10px;
    background-position: center;
    -webkit-transition: -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
    transition: -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
    -o-transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
    transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
    transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1), -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    text-align: center;
    min-height: 280px;
    height: auto;
    border-radius: 10px;
    color: #fff;
    font-size: 1.5rem;
}

.back{
    background: #cedce7;
    background: -webkit-linear-gradient(45deg,  #cedce7 0%,#596a72 100%);
    background: -o-linear-gradient(45deg,  #cedce7 0%,#596a72 100%);
    background: linear-gradient(45deg,  #cedce7 0%,#596a72 100%);
}

.front:after{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    content: '';
    display: block;
    opacity: .6;
    background-color: #000;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border-radius: 10px;
}
.container:hover .front,
.container:hover .back{
    -webkit-transition: -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
    transition: -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
    -o-transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
    transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
    transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1), -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
}

.back{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.inner{
    -webkit-transform: translateY(-50%) translateZ(60px) scale(0.94);
    transform: translateY(-50%) translateZ(60px) scale(0.94);
    top: 50%;
    position: absolute;
    left: 0;
    width: 100%;
    padding: 2rem;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    outline: 1px solid transparent;
    -webkit-perspective: inherit;
    perspective: inherit;
    z-index: 2;
}

.container .back{
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

.container .front{
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg);
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

.container:hover .back{
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg);
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

.container:hover .front{
    -webkit-transform: rotateY(-180deg);
    transform: rotateY(-180deg);
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

.front .inner p{
    font-size: 2rem;
    margin-bottom: 2rem;
    position: relative;
}

.front .inner p:after{
    content: '';
    width: 4rem;
    height: 2px;
    position: absolute;
    background: #C6D4DF;
    display: block;
    left: 0;
    right: 0;
    margin: 0 auto;
    bottom: -.75rem;
}

.front .inner span{
    color: rgba(255,255,255,0.7);
    font-family: 'Montserrat';
    font-weight: 300;
}

/*@media screen and (max-width: 64rem){*/
/*    .col{*/
/*        width: calc(33.333333% - 2rem);*/
/*    }*/
/*}*/

/*@media screen and (max-width: 48rem){*/
/*    .col{*/
/*        width: calc(50% - 2rem);*/
/*    }*/
/*}*/

/*@media screen and (max-width: 32rem){*/
/*    .col{*/
/*        width: 100%;*/
/*        margin: 0 0 2rem 0;*/
/*    }*/
/*}*/

.btn{
    width: 120px;
    height: 40px;
    background: #FD6B11;
    border-radius: 10px;
    margin-bottom: 20px;
}


/*media query for large laptop(1440px)*/
@media all and (max-width: 1440px) {
    #assignment {
        background: #120D06;
        width: 1440px;  /* Set the width to 1440px */
        height: 910px;  /* Set the height to 910px */
        margin: 0 auto; /* Center the assignment section on the page */
        box-sizing: border-box;
    }

    h3 {
        color: #FD6B11;
        position: absolute;
        left: 40vw;  /* Adjust positioning based on 1440px width */
    }

    h1 {
        color: white;
        font-size: 60px;
        position: absolute;
        left: 37vw;  /* Adjust positioning based on 1440px width */
    }

    .wrapper {
        width: 90%;
        margin: 0 auto;
        max-width: 1440px;  /* Set max-width to 1440px */
        background: #120D06;
        position: absolute;
        margin-top: 134px;
        left: 50%;
        transform: translateX(-50%);  /* Center the wrapper */
    }

    .cols {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .col {
        width: calc(25% - 2rem);
        margin: 1rem;
        cursor: pointer;
    }

    .container {
        transform-style: preserve-3d;
        perspective: 1000px;
    }

    .front,
    .back {
        background-size: cover;
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.25);
        border-radius: 10px;
        background-position: center;
        transition: transform 0.7s cubic-bezier(0.4, 0.2, 0.2, 1);
        backface-visibility: hidden;
        text-align: center;
        min-height: 280px;
        height: auto;
        border-radius: 10px;
        color: #fff;
        font-size: 1.5rem;
    }

    .back {
        background: #cedce7;
        background: linear-gradient(45deg, #cedce7 0%, #596a72 100%);
    }

    .front:after {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
        width: 100%;
        height: 100%;
        content: '';
        display: block;
        opacity: .6;
        background-color: #000;
        backface-visibility: hidden;
        border-radius: 10px;
    }

    .container:hover .front,
    .container:hover .back {
        transition: transform 0.7s cubic-bezier(0.4, 0.2, 0.2, 1);
    }

    .back {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
    }

    .inner {
        transform: translateY(-50%) translateZ(60px) scale(0.94);
        top: 50%;
        position: absolute;
        left: 0;
        width: 100%;
        padding: 2rem;
        box-sizing: border-box;
        outline: 1px solid transparent;
        perspective: inherit;
        z-index: 2;
    }

    .container .back {
        transform: rotateY(180deg);
    }

    .container .front {
        transform: rotateY(0deg);
    }

    .container:hover .back {
        transform: rotateY(0deg);
    }

    .container:hover .front {
        transform: rotateY(-180deg);
    }

    .front .inner p {
        font-size: 2rem;
        margin-bottom: 2rem;
        position: relative;
    }

    .front .inner p:after {
        content: '';
        width: 4rem;
        height: 2px;
        position: absolute;
        background: #C6D4DF;
        left: 0;
        right: 0;
        margin: 0 auto;
        bottom: -.75rem;
    }

    .front .inner span {
        color: rgba(255, 255, 255, 0.7);
        font-family: 'Montserrat';
        font-weight: 300;
    }

    .btn {
        width: 120px;
        height: 40px;
        background: #FD6B11;
        border-radius: 10px;
        margin-bottom: 20px;
    }
}
/*media query for Small laptop(1024px)*/
@media all and (max-width: 1024px) {
    #assignment {
        background: #120D06;
        width: 1024px;  /* Set the width to 1440px */
        height: 800px;  /* Set the height to 910px */
        margin: 0 auto; /* Center the assignment section on the page */
        box-sizing: border-box;
    }

    h3 {
        color: #FD6B11;
        position: absolute;
        left: 35vw;  /* Adjust positioning based on 1440px width */
        font-size: 15px;
    }

    h1 {
        color: white;
        font-size: 50px;
        position: absolute;
        left: 30vw;  /* Adjust positioning based on 1440px width */
    }

    .wrapper {
        width: 90%;
        margin: 0 auto;
        max-width: 1440px;  /* Set max-width to 1440px */
        background: #120D06;
        position: absolute;
        margin-top: 134px;
        left: 50%;
        transform: translateX(-50%);  /* Center the wrapper */

    }

    .cols {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .col {
        width: calc(25% - 2rem);
        margin: 1rem;
        cursor: pointer;
    }

    .container {
        transform-style: preserve-3d;
        perspective: 1000px;
    }

    .front,
    .back {
        background-size: cover;
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.25);
        border-radius: 10px;
        background-position: center;
        transition: transform 0.7s cubic-bezier(0.4, 0.2, 0.2, 1);
        backface-visibility: hidden;
        text-align: center;
        min-height: 280px;
        height: auto;
        border-radius: 10px;
        color: #fff;
        font-size: 1.5rem;
    }

    .back {
        background: #cedce7;
        background: linear-gradient(45deg, #cedce7 0%, #596a72 100%);
    }

    .front:after {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
        width: 100%;
        height: 100%;
        content: '';
        display: block;
        opacity: .6;
        background-color: #000;
        backface-visibility: hidden;
        border-radius: 10px;
    }

    .container:hover .front,
    .container:hover .back {
        transition: transform 0.7s cubic-bezier(0.4, 0.2, 0.2, 1);
    }

    .back {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
    }

    .inner {
        transform: translateY(-50%) translateZ(60px) scale(0.94);
        top: 50%;
        position: absolute;
        left: 0;
        width: 100%;
        padding: 2rem;
        box-sizing: border-box;
        outline: 1px solid transparent;
        perspective: inherit;
        z-index: 2;
        font-size: 20px;
    }

    .container .back {
        transform: rotateY(180deg);
    }

    .container .front {
        transform: rotateY(0deg);
    }

    .container:hover .back {
        transform: rotateY(0deg);
    }

    .container:hover .front {
        transform: rotateY(-180deg);
    }

    .front .inner p {
        font-size: 25px;
        margin-bottom: 2rem;
        position: relative;
    }

    .front .inner p:after {
        content: '';
        width: 4rem;
        height: 2px;
        position: absolute;
        background: #C6D4DF;
        left: 0;
        right: 0;
        margin: 0 auto;
        bottom: -.75rem;
    }

    .front .inner span {
        color: rgba(255, 255, 255, 0.7);
        font-family: 'Montserrat';
        font-weight: 300;
    }

    .btn {
        width: 120px;
        height: 40px;
        background: #FD6B11;
        border-radius: 10px;
        margin-bottom: 20px;
    }
}

/*media query for Tablet size(768px)*/
@media all and (max-width: 768px) {
    #assignment {
        background: #120D06;
        width: 768px;  /* Set the width to 1440px */
        height: 800px;  /* Set the height to 910px */
        margin: 0 auto; /* Center the assignment section on the page */
        box-sizing: border-box;
    }

    h3 {
        color: #FD6B11;
        position: absolute;
        left: 35vw;  /* Adjust positioning based on 1440px width */
        font-size: 13px;
    }

    h1 {
        color: white;
        font-size: 45px;
        position: absolute;
        left: 30vw;  /* Adjust positioning based on 1440px width */
    }

    .wrapper {
        width: 90%;
        margin: 0 auto;
        max-width: 1440px;  /* Set max-width to 1440px */
        background: #120D06;
        position: absolute;
        margin-top: 134px;
        left: 50%;
        transform: translateX(-50%);  /* Center the wrapper */

    }

    .cols {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .col {
        width: calc(25% - 2rem);
        margin: 1rem;
        cursor: pointer;
    }

    .container {
        transform-style: preserve-3d;
        perspective: 1000px;
    }

    .front,
    .back {
        background-size: cover;
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.25);
        border-radius: 10px;
        background-position: center;
        transition: transform 0.7s cubic-bezier(0.4, 0.2, 0.2, 1);
        backface-visibility: hidden;
        text-align: center;
        min-height: 280px;
        height: auto;
        border-radius: 10px;
        color: #fff;
        font-size: 1.5rem;
    }

    .back {
        background: #cedce7;
        background: linear-gradient(45deg, #cedce7 0%, #596a72 100%);
    }

    .front:after {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
        width: 100%;
        height: 100%;
        content: '';
        display: block;
        opacity: .6;
        background-color: #000;
        backface-visibility: hidden;
        border-radius: 10px;
    }

    .container:hover .front,
    .container:hover .back {
        transition: transform 0.7s cubic-bezier(0.4, 0.2, 0.2, 1);
    }

    .back {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
    }

    .inner {
        transform: translateY(-50%) translateZ(60px) scale(0.94);
        top: 50%;
        position: absolute;
        left: 0;
        width: 100%;
        padding: 2rem;
        box-sizing: border-box;
        outline: 1px solid transparent;
        perspective: inherit;
        z-index: 2;
        font-size: 15px;
    }

    .container .back {
        transform: rotateY(180deg);
    }

    .container .front {
        transform: rotateY(0deg);
    }

    .container:hover .back {
        transform: rotateY(0deg);
    }

    .container:hover .front {
        transform: rotateY(-180deg);
    }

    .front .inner p {
        font-size: 15px;
        margin-bottom: 2rem;
        position: relative;
    }

    .front .inner p:after {
        content: '';
        width: 4rem;
        height: 2px;
        position: absolute;
        background: #C6D4DF;
        left: 0;
        right: 0;
        margin: 0 auto;
        bottom: -.75rem;
    }

    .front .inner span {
        color: rgba(255, 255, 255, 0.7);
        font-family: 'Montserrat';
        font-weight: 300;
    }

    .btn {
        width: 100px;
        height: 30px;
        background: #FD6B11;
        border-radius: 10px;
        margin-bottom: 20px;
    }
}

/*media query for Mobile size(425px)*/
@media all and (max-width: 425px) {
    #assignment {
        background: #120D06;
        width: 425px;
        height: 2600px;
        margin: 0 auto;
        box-sizing: border-box;
    }

    h3 {
        color: #FD6B11;
        position: absolute;
        left: 28vw;  /* Adjust positioning based on 1440px width */
        font-size: 10px;
    }

    h1 {
        color: white;
        font-size: 35px;
        position: absolute;
        left: 20vw;  /* Adjust positioning based on 1440px width */
    }

    .wrapper {
        width: 90%;
        margin: 0 auto;
        max-width: 1440px;  /* Set max-width to 1440px */
        background: #120D06;
        position: absolute;
        margin-top: 134px;
        left: 50%;
        transform: translateX(-50%);  /* Center the wrapper */

    }

    .cols {
        display: flow;
        flex-wrap: wrap;
        justify-content: center;
    }

    .col {
        width: calc(25% - 2rem);
        margin: 1rem;
        cursor: pointer;
    }

    .container {
        transform-style: preserve-3d;
        perspective: 1000px;
    }

    .front,
    .back {
        background-size: cover;
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.25);
        border-radius: 10px;
        background-position: center;
        transition: transform 0.7s cubic-bezier(0.4, 0.2, 0.2, 1);
        backface-visibility: hidden;
        text-align: center;
        min-height: 280px;
        height: auto;
        border-radius: 10px;
        color: #fff;
        font-size: 1.5rem;
        width: 300px;
        margin-left: 20px;
    }

    .back {
        background: #cedce7;
        background: linear-gradient(45deg, #cedce7 0%, #596a72 100%);
    }

    .front:after {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
        width: 100%;
        height: 100%;
        content: '';
        display: block;
        opacity: .6;
        background-color: #000;
        backface-visibility: hidden;
        border-radius: 10px;
    }

    .container:hover .front,
    .container:hover .back {
        transition: transform 0.7s cubic-bezier(0.4, 0.2, 0.2, 1);
    }

    .back {
        position: absolute;
        top: 0;
        left: 0;
        width: 300px;
    }

    .inner {
        transform: translateY(-50%) translateZ(60px) scale(0.94);
        top: 50%;
        position: absolute;
        left: 0;
        width: 100%;
        padding: 2rem;
        box-sizing: border-box;
        outline: 1px solid transparent;
        perspective: inherit;
        z-index: 2;
        font-size: 20px;
    }

    .container .back {
        transform: rotateY(180deg);
    }

    .container .front {
        transform: rotateY(0deg);
    }

    .container:hover .back {
        transform: rotateY(0deg);
    }

    .container:hover .front {
        transform: rotateY(-180deg);
    }

    .front .inner p {
        font-size: 25px;
        margin-bottom: 2rem;
        position: relative;
    }

    .front .inner p:after {
        content: '';
        width: 4rem;
        height: 2px;
        position: absolute;
        background: #C6D4DF;
        left: 0;
        right: 0;
        margin: 0 auto;
        bottom: -.75rem;
    }

    .front .inner span {
        color: rgba(255, 255, 255, 0.7);
        font-family: 'Montserrat';
        font-weight: 300;
    }

    .btn {
        width: 100px;
        height: 30px;
        background: #FD6B11;
        border-radius: 10px;
        margin-bottom: 20px;
    }
}

/*media query for Mobile size(375px)*/
@media all and (max-width: 375px) {
    #assignment {
        background: #120D06;
        width: 375px;
        height: 2600px;
        margin: 0 auto;
        box-sizing: border-box;
    }

    h3 {
        color: #FD6B11;
        position: absolute;
        left: 25vw;  /* Adjust positioning based on 1440px width */
        font-size: 10px;
    }

    h1 {
        color: white;
        font-size: 35px;
        position: absolute;
        left: 15vw;  /* Adjust positioning based on 1440px width */
    }

    .wrapper {
        width: 90%;
        margin: 0 auto;
        max-width: 1440px;  /* Set max-width to 1440px */
        background: #120D06;
        position: absolute;
        margin-top: 134px;
        left: 50%;
        transform: translateX(-50%);  /* Center the wrapper */

    }

    .cols {
        display: flow;
        flex-wrap: wrap;
        justify-content: center;
    }

    .col {
        width: calc(25% - 2rem);
        margin: 1rem;
        cursor: pointer;
    }

    .container {
        transform-style: preserve-3d;
        perspective: 1000px;
    }

    .front,
    .back {
        background-size: cover;
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.25);
        border-radius: 10px;
        background-position: center;
        transition: transform 0.7s cubic-bezier(0.4, 0.2, 0.2, 1);
        backface-visibility: hidden;
        text-align: center;
        min-height: 280px;
        height: auto;
        border-radius: 10px;
        color: #fff;
        font-size: 1.5rem;
        width: 300px;
        margin-left: 0px;
    }

    .back {
        background: #cedce7;
        background: linear-gradient(45deg, #cedce7 0%, #596a72 100%);
    }

    .front:after {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
        width: 100%;
        height: 100%;
        content: '';
        display: block;
        opacity: .6;
        background-color: #000;
        backface-visibility: hidden;
        border-radius: 10px;
    }

    .container:hover .front,
    .container:hover .back {
        transition: transform 0.7s cubic-bezier(0.4, 0.2, 0.2, 1);
    }

    .back {
        position: absolute;
        top: 0;
        left: 0;
        width: 300px;
    }

    .inner {
        transform: translateY(-50%) translateZ(60px) scale(0.94);
        top: 50%;
        position: absolute;
        left: 0;
        width: 100%;
        padding: 2rem;
        box-sizing: border-box;
        outline: 1px solid transparent;
        perspective: inherit;
        z-index: 2;
        font-size: 20px;
    }

    .container .back {
        transform: rotateY(180deg);
    }

    .container .front {
        transform: rotateY(0deg);
    }

    .container:hover .back {
        transform: rotateY(0deg);
    }

    .container:hover .front {
        transform: rotateY(-180deg);
    }

    .front .inner p {
        font-size: 25px;
        margin-bottom: 2rem;
        position: relative;
    }

    .front .inner p:after {
        content: '';
        width: 4rem;
        height: 2px;
        position: absolute;
        background: #C6D4DF;
        left: 0;
        right: 0;
        margin: 0 auto;
        bottom: -.75rem;
    }

    .front .inner span {
        color: rgba(255, 255, 255, 0.7);
        font-family: 'Montserrat';
        font-weight: 300;
    }

    .btn {
        width: 100px;
        height: 30px;
        background: #FD6B11;
        border-radius: 10px;
        margin-bottom: 20px;
    }
}

/*media query for Mobile Small size(320px)*/
@media all and (max-width: 320px) {
    #assignment {
        background: #120D06;
        width: 320px;
        height: 2400px;
        margin: 0 auto;
        box-sizing: border-box;
    }

    h3 {
        color: #FD6B11;
        position: absolute;
        left: 20vw;  /* Adjust positioning based on 1440px width */
        font-size: 10px;
    }

    h1 {
        color: white;
        font-size: 30px;
        position: absolute;
        left: 15vw;  /* Adjust positioning based on 1440px width */
    }
    .front,
    .back {
        background-size: cover;
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.25);
        border-radius: 10px;
        background-position: center;
        transition: transform 0.7s cubic-bezier(0.4, 0.2, 0.2, 1);
        backface-visibility: hidden;
        text-align: center;
        min-height: 250px;
        height: auto;
        border-radius: 10px;
        color: #fff;
        font-size: 1.5rem;
        width: 250px;
        margin-left: 0px;
    }
}