footer{
    position: absolute;
    background: black;
    width: 100vw;
    height: 400px;

}
footer>section>div>a>img{
    width: 50px;
    height: 50px;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    margin-top: 35px;
}
footer>section:first-child>div:nth-child(1)>a>img{
    right: 40vw;
    z-index: 9999;
}
footer>section:first-child>div:nth-child(2)>a>img{
    right: 20vw;
    z-index: 9999;
}
footer>section:first-child>div:nth-child(3)>a>img{
    left: 0;
    z-index: 9999;
}
footer>section:first-child>div:nth-child(4)>a>img{
    left: 20vw;
    z-index: 9999;
}
footer>section:first-child>div:nth-child(5)>a>img{
    left: 40vw;
    z-index: 9999;
}
footer>section:nth-child(2)>div{
    height: 90px;
    width: 90px;
    background-color: black;
    position: absolute;
    display: inline;
    border-radius: 20px;
    left: 0;
    right: 0;
    margin: auto;
    margin-top: 15px;
    border: 2px solid #FD6B11;
}
footer>section:nth-child(2)>div:hover{
    box-shadow: 10px 5px 50px white;
}
footer>section:nth-child(2)>div:nth-child(1){
    right: 40vw;

}
footer>section:nth-child(2)>div:nth-child(2){
    right: 20vw;
}
footer>section:nth-child(2)>div:nth-child(3){
    left: 0;
}
footer>section:nth-child(2)>div:nth-child(4){
    left: 20vw;
}
footer>section:nth-child(2)>div:nth-child(5){
    left: 40vw;
}
footer>section:nth-child(3)>p{
    color: grey;
    font-size: 20px;
    position: absolute;
    left: 400px;
    margin-right: 1000px;
    margin-top: 200px;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;

}
footer>section:nth-child(3)>div{
    color: #FD6B11;
    font-size: 30px;
    position: absolute;
    left: 400px;
    margin-top: 280px;
}
footer>section:nth-child(4)>h4{
    color: white;
    font-size: 25px;
    position: absolute;
    right: 700px;
    margin-top: 200px;
}
footer>section:nth-child(4)>ul{
    color: grey;
    text-decoration: none;
    position: absolute;
    right: 700px;
    margin-top: 250px;
}
footer>section:nth-child(4)>ul>li>a{
    color: grey;
    font-size: 20px;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
}
footer>section:nth-child(5)>h3:first-child>a{
    position: absolute;
    color: #FD6B11;
    font-size: 25px;
    /*right: 200px;*/
    left: 655px;
    margin-top: 340px;
}

footer>section:nth-child(5)>h3:nth-child(2)>a{
    position: absolute;
    color: white;
    font-size: 25px;
    /*right: 65px;*/
    left: 850px;
    margin-top: 340px;
}
footer>section:nth-child(6)>div:nth-child(1){
    width: 100vw;
    height: 1px;
    position: absolute;
    background-color: grey;
    margin-top: -10px;

}
footer>section:nth-child(6)>div:nth-child(2){
    width: 100vw;
    height: 1px;
    position: absolute;
    background-color: grey;
    margin-top: 130px;

}
footer>section:nth-child(6)>div:nth-child(3){
    width: 1px;
    height: 200px;
    position: absolute;
    background-color: white;
    margin-left: 1000px;
    margin-top: 160px;
}

/*media query for large laptop(1440px)*/
@media all and (max-width: 1440px) {
    footer{
        position: absolute;
        background: black;
        width: 100vw;
        height: 400px;

    }
    footer>section>div>a>img{
        width: 50px;
        height: 50px;
        position: absolute;
        left: 0;
        right: 0;
        margin: auto;
        margin-top: 35px;
    }
    footer>section:first-child>div:nth-child(1)>a>img{
        right: 40vw;
        z-index: 9999;
    }
    footer>section:first-child>div:nth-child(2)>a>img{
        right: 20vw;
        z-index: 9999;
    }
    footer>section:first-child>div:nth-child(3)>a>img{
        left: 0;
        z-index: 9999;
    }
    footer>section:first-child>div:nth-child(4)>a>img{
        left: 20vw;
        z-index: 9999;
    }
    footer>section:first-child>div:nth-child(5)>a>img{
        left: 40vw;
        z-index: 9999;
    }
    footer>section:nth-child(2)>div{
        height: 90px;
        width: 90px;
        background-color: black;
        position: absolute;
        display: inline;
        border-radius: 20px;
        left: 0;
        right: 0;
        margin: auto;
        margin-top: 15px;
        border: 2px solid #FD6B11;
    }
    footer>section:nth-child(2)>div:hover{
        box-shadow: 10px 5px 50px white;
    }
    footer>section:nth-child(2)>div:nth-child(1){
        right: 40vw;

    }
    footer>section:nth-child(2)>div:nth-child(2){
        right: 20vw;
    }
    footer>section:nth-child(2)>div:nth-child(3){
        left: 0;
    }
    footer>section:nth-child(2)>div:nth-child(4){
        left: 20vw;
    }
    footer>section:nth-child(2)>div:nth-child(5){
        left: 40vw;
    }
    footer>section:nth-child(3)>p{
        color: grey;
        font-size: 20px;
        position: absolute;
        left: 250px;
        margin-right: 850px;
        margin-top: 170px;
        font-family: "Inter", sans-serif;
        font-optical-sizing: auto;
        font-weight: <weight>;
        font-style: normal;

    }
    footer>section:nth-child(3)>div{
        color: #FD6B11;
        font-size: 30px;
        position: absolute;
        left: 250px;
        margin-top: 270px;
    }
    footer>section:nth-child(4)>h4{
        color: white;
        font-size: 25px;
        position: absolute;
        right: 550px;
        margin-top: 170px;
    }
    footer>section:nth-child(4)>ul{
        color: grey;
        text-decoration: none;
        position: absolute;
        right: 580px;
        margin-top: 230px;
    }
    footer>section:nth-child(4)>ul>li>a{
        color: grey;
        font-size: 20px;
        font-family: "Inter", sans-serif;
        font-optical-sizing: auto;
        font-weight: <weight>;
        font-style: normal;
    }
    footer>section:nth-child(5)>h3:first-child>a{
        position: absolute;
        color: #FD6B11;
        font-size: 25px;
        /*right: 200px;*/
        left: 435px;
        margin-top: 340px;
    }

    footer>section:nth-child(5)>h3:nth-child(2)>a{
        position: absolute;
        color: white;
        font-size: 25px;
        /*right: 65px;*/
        left: 680px;
        margin-top: 340px;
    }
    footer>section:nth-child(6)>div:nth-child(1){
        width: 100vw;
        height: 1px;
        position: absolute;
        background-color: grey;
        margin-top: -10px;

    }
    footer>section:nth-child(6)>div:nth-child(2){
        width: 100vw;
        height: 1px;
        position: absolute;
        background-color: grey;
        margin-top: 130px;

    }
    footer>section:nth-child(6)>div:nth-child(3){
        width: 1px;
        height: 200px;
        position: absolute;
        background-color: white;
        margin-left: 650px;
        margin-top: 160px;
    }
}
/*media query for Small laptop(1024px)*/
@media all and (max-width: 1024px) {
    footer{
        position: absolute;
        background: black;
        width: 1024px;
        height: 370px;

    }
    footer>section>div>a>img{
        width: 50px;
        height: 50px;
        position: absolute;
        left: 0;
        right: 0;
        margin: auto;
        margin-top: 20px;
    }
    footer>section:first-child>div:nth-child(1)>a>img{
        right: 40vw;
        z-index: 9999;
    }
    footer>section:first-child>div:nth-child(2)>a>img{
        right: 20vw;
        z-index: 9999;
    }
    footer>section:first-child>div:nth-child(3)>a>img{
        left: 0;
        z-index: 9999;
    }
    footer>section:first-child>div:nth-child(4)>a>img{
        left: 20vw;
        z-index: 9999;
    }
    footer>section:first-child>div:nth-child(5)>a>img{
        left: 40vw;
        z-index: 9999;
    }
    footer>section:nth-child(2)>div{
        height: 80px;
        width: 80px;
        background-color: black;
        position: absolute;
        display: inline;
        border-radius: 20px;
        left: 0;
        right: 0;
        margin: auto;
        margin-top: 5px;
        border: 2px solid #FD6B11;
    }
    footer>section:nth-child(2)>div:hover{
        box-shadow: 10px 5px 50px white;
    }
    footer>section:nth-child(2)>div:nth-child(1){
        right: 40vw;

    }
    footer>section:nth-child(2)>div:nth-child(2){
        right: 20vw;
    }
    footer>section:nth-child(2)>div:nth-child(3){
        left: 0;
    }
    footer>section:nth-child(2)>div:nth-child(4){
        left: 20vw;
    }
    footer>section:nth-child(2)>div:nth-child(5){
        left: 40vw;
    }
    footer>section:nth-child(3)>p{
        color: grey;
        font-size: 15px;
        position: absolute;
        left: 250px;
        margin-right: 550px;
        margin-top: 150px;
        font-family: "Inter", sans-serif;
        font-optical-sizing: auto;
        font-weight: <weight>;
        font-style: normal;


    }
    footer>section:nth-child(3)>div{
        color: #FD6B11;
        font-size: 23px;
        position: absolute;
        left: 250px;
        margin-top: 250px;
    }
    footer>section:nth-child(4)>h4{
        color: white;
        font-size: 20px;
        position: absolute;
        right: 320px;
        margin-top: 150px;
    }
    footer>section:nth-child(4)>ul{
        color: grey;
        text-decoration: none;
        position: absolute;
        right: 320px;
        margin-top: 200px;
    }
    footer>section:nth-child(4)>ul>li>a{
        color: grey;
        font-size: 20px;
        font-family: "Inter", sans-serif;
        font-optical-sizing: auto;
        font-weight: <weight>;
        font-style: normal;
    }
    footer>section:nth-child(5)>h3:first-child>a{
        position: absolute;
        color: #FD6B11;
        font-size: 20px;
        /*right: 200px;*/
        left: 325px;
        margin-top: 320px;
    }

    footer>section:nth-child(5)>h3:nth-child(2)>a{
        position: absolute;
        color: white;
        font-size: 20px;
        /*right: 65px;*/
        left: 520px;
        margin-top: 320px;
    }
    footer>section:nth-child(6)>div:nth-child(1){
        width: 100vw;
        height: 1px;
        position: absolute;
        background-color: grey;
        margin-top: -10px;

    }
    footer>section:nth-child(6)>div:nth-child(2){
        width: 100vw;
        height: 1px;
        position: absolute;
        background-color: grey;
        margin-top: 100px;

    }
    footer>section:nth-child(6)>div:nth-child(3){
        width: 1px;
        height: 200px;
        position: absolute;
        background-color: white;
        margin-left: 520px;
        margin-top: 130px;
    }
}

/*media query for Tablet size(768px)*/
@media all and (max-width: 768px) {
    footer{
        position: absolute;
        background: black;
        width: 768px;
        height: 310px;

    }
    footer>section>div>a>img{
        width: 40px;
        height: 40px;
        position: absolute;
        left: 0;
        right: 0;
        margin: auto;
        margin-top: 15px;
    }
    footer>section:first-child>div:nth-child(1)>a>img{
        right: 60vw;
        z-index: 9999;
    }
    footer>section:first-child>div:nth-child(2)>a>img{
        right: 30vw;
        z-index: 9999;
    }
    footer>section:first-child>div:nth-child(3)>a>img{
        left: 0;
        z-index: 9999;
    }
    footer>section:first-child>div:nth-child(4)>a>img{
        left: 30vw;
        z-index: 9999;
    }
    footer>section:first-child>div:nth-child(5)>a>img{
        left: 60vw;
        z-index: 9999;
    }
    footer>section:nth-child(2)>div{
        height: 70px;
        width: 70px;
        background-color: black;
        position: absolute;
        display: inline;
        border-radius: 20px;
        left: 0;
        right: 0;
        margin: auto;
        margin-top: 0px;
        border: 2px solid #FD6B11;
    }
    footer>section:nth-child(2)>div:hover{
        box-shadow: 2px 3px 30px white;
    }
    footer>section:nth-child(2)>div:nth-child(1){
        right: 60vw;

    }
    footer>section:nth-child(2)>div:nth-child(2){
        right: 30vw;
    }
    footer>section:nth-child(2)>div:nth-child(3){
        left: 0;
    }
    footer>section:nth-child(2)>div:nth-child(4){
        left: 30vw;
    }
    footer>section:nth-child(2)>div:nth-child(5){
        left: 60vw;
    }
    footer>section:nth-child(3)>p{
        color: grey;
        font-size: 12px;
        position: absolute;
        left: 180px;
        margin-right: 450px;
        margin-top: 130px;
        font-family: "Inter", sans-serif;
        font-optical-sizing: auto;
        font-weight: <weight>;
        font-style: normal;


    }
    footer>section:nth-child(3)>div{
        color: #FD6B11;
        font-size: 18px;
        position: absolute;
        left: 180px;
        margin-top: 220px;
    }
    footer>section:nth-child(4)>h4{
        color: white;
        font-size: 16px;
        position: absolute;
        right: 220px;
        margin-top: 130px;
    }
    footer>section:nth-child(4)>ul{
        color: grey;
        text-decoration: none;
        position: absolute;
        right: 230px;
        margin-top: 170px;
    }
    footer>section:nth-child(4)>ul>li>a{
        color: grey;
        font-size: 13px;
        font-family: "Inter", sans-serif;
        font-optical-sizing: auto;
        font-weight: <weight>;
        font-style: normal;
    }
    footer>section:nth-child(5)>h3:first-child>a{
        position: absolute;
        color: #FD6B11;
        font-size: 16px;
        /*right: 200px;*/
        left: 225px;
        margin-top: 270px;
    }

    footer>section:nth-child(5)>h3:nth-child(2)>a{
        position: absolute;
        color: white;
        font-size: 16px;
        /*right: 65px;*/
        left: 380px;
        margin-top: 270px;
    }
    footer>section:nth-child(6)>div:nth-child(1){
        width: 100vw;
        height: 1px;
        position: absolute;
        background-color: grey;
        margin-top: -10px;

    }
    footer>section:nth-child(6)>div:nth-child(2){
        width: 100vw;
        height: 1px;
        position: absolute;
        background-color: grey;
        margin-top: 85px;

    }
    footer>section:nth-child(6)>div:nth-child(3){
        width: 1px;
        height: 140px;
        position: absolute;
        background-color: white;
        margin-left: 390px;
        margin-top: 130px;
    }
}

/*media query for Mobile size(425px)*/
@media all and (max-width: 425px) {
    footer{
        position: absolute;
        background: black;
        width: 425px;
        height: 410px;

    }
    footer>section>div>a>img{
        width: 30px;
        height: 30px;
        position: absolute;
        left: 0;
        right: 0;
        margin: auto;
        margin-top: 15px;
    }
    footer>section:first-child>div:nth-child(1)>a>img{
        right: 70vw;
        z-index: 9999;
    }
    footer>section:first-child>div:nth-child(2)>a>img{
        right: 35vw;
        z-index: 9999;
    }
    footer>section:first-child>div:nth-child(3)>a>img{
        left: 0;
        z-index: 9999;
    }
    footer>section:first-child>div:nth-child(4)>a>img{
        left: 35vw;
        z-index: 9999;
    }
    footer>section:first-child>div:nth-child(5)>a>img{
        left: 70vw;
        z-index: 9999;
    }
    footer>section:nth-child(2)>div{
        height: 60px;
        width: 60px;
        background-color: black;
        position: absolute;
        display: inline;
        border-radius: 20px;
        left: 0;
        right: 0;
        margin: auto;
        margin-top: 0px;
        border: 2px solid #FD6B11;
    }
    footer>section:nth-child(2)>div:hover{
        box-shadow: 2px 3px 30px white;
    }
    footer>section:nth-child(2)>div:nth-child(1){
        right: 70vw;

    }
    footer>section:nth-child(2)>div:nth-child(2){
        right: 35vw;
    }
    footer>section:nth-child(2)>div:nth-child(3){
        left: 0;
    }
    footer>section:nth-child(2)>div:nth-child(4){
        left: 35vw;
    }
    footer>section:nth-child(2)>div:nth-child(5){
        left: 70vw;
    }
    footer>section:nth-child(3)>p{
        color: grey;
        font-size: 15px;
        position: absolute;
        left: 60px;
        margin-right: 450px;
        margin-top: 130px;
        font-family: "Inter", sans-serif;
        font-optical-sizing: auto;
        font-weight: <weight>;
        font-style: normal;


    }
    footer>section:nth-child(3)>div{
        color: #FD6B11;
        font-size: 17px;
        position: absolute;
        left: 60px;
        margin-top: 300px;
    }
    footer>section:nth-child(4)>h4{
        color: white;
        font-size: 16px;
        position: absolute;
        right: 70px;
        margin-top: 130px;
    }
    footer>section:nth-child(4)>ul{
        color: grey;
        text-decoration: none;
        position: absolute;
        right: 70px;
        margin-top: 170px;
    }
    footer>section:nth-child(4)>ul>li>a{
        color: grey;
        font-size: 15px;
        font-family: "Inter", sans-serif;
        font-optical-sizing: auto;
        font-weight: <weight>;
        font-style: normal;
    }
    footer>section:nth-child(5)>h3:first-child>a{
        position: absolute;
        color: #FD6B11;
        font-size: 13px;
        /*right: 200px;*/
        left: 80px;
        margin-top: 370px;
    }

    footer>section:nth-child(5)>h3:nth-child(2)>a{
        position: absolute;
        color: white;
        font-size: 13px;
        /*right: 65px;*/
        left: 200px;
        margin-top: 370px;
    }
    footer>section:nth-child(6)>div:nth-child(1){
        width: 100vw;
        height: 1px;
        position: absolute;
        background-color: grey;
        margin-top: -10px;

    }
    footer>section:nth-child(6)>div:nth-child(2){
        width: 100vw;
        height: 1px;
        position: absolute;
        background-color: grey;
        margin-top: 75px;

    }
    footer>section:nth-child(6)>div:nth-child(3){
        width: 1px;
        height: 160px;
        position: absolute;
        background-color: white;
        margin-left: 220px;
        margin-top: 140px;
    }
}

/*media query for Mobile size(375px)*/
@media all and (max-width: 375px) {
    footer{
        position: absolute;
        background: black;
        width: 375px;
        height: 410px;

    }
    footer>section>div>a>img{
        width: 30px;
        height: 30px;
        position: absolute;
        left: 0;
        right: 0;
        margin: auto;
        margin-top: 18px;
    }
    footer>section:first-child>div:nth-child(1)>a>img{
        right: 70vw;
        z-index: 9999;
    }
    footer>section:first-child>div:nth-child(2)>a>img{
        right: 35vw;
        z-index: 9999;
    }
    footer>section:first-child>div:nth-child(3)>a>img{
        left: 0;
        z-index: 9999;
    }
    footer>section:first-child>div:nth-child(4)>a>img{
        left: 35vw;
        z-index: 9999;
    }
    footer>section:first-child>div:nth-child(5)>a>img{
        left: 70vw;
        z-index: 9999;
    }
    footer>section:nth-child(2)>div{
        height: 50px;
        width: 50px;
        background-color: black;
        position: absolute;
        display: inline;
        border-radius: 20px;
        left: 0;
        right: 0;
        margin: auto;
        margin-top: 8px;
        border: 2px solid #FD6B11;
    }
    footer>section:nth-child(2)>div:hover{
        box-shadow: 2px 3px 30px white;
    }
    footer>section:nth-child(2)>div:nth-child(1){
        right: 70vw;

    }
    footer>section:nth-child(2)>div:nth-child(2){
        right: 35vw;
    }
    footer>section:nth-child(2)>div:nth-child(3){
        left: 0;
    }
    footer>section:nth-child(2)>div:nth-child(4){
        left: 35vw;
    }
    footer>section:nth-child(2)>div:nth-child(5){
        left: 70vw;
    }
    footer>section:nth-child(3)>p{
        color: grey;
        font-size: 15px;
        position: absolute;
        left: 50px;
        margin-right: 450px;
        margin-top: 130px;
        font-family: "Inter", sans-serif;
        font-optical-sizing: auto;
        font-weight: <weight>;
        font-style: normal;


    }
    footer>section:nth-child(3)>div{
        color: #FD6B11;
        font-size: 17px;
        position: absolute;
        left: 50px;
        margin-top: 300px;
    }
    footer>section:nth-child(4)>h4{
        color: white;
        font-size: 16px;
        position: absolute;
        right:60px;
        margin-top: 130px;
    }
    footer>section:nth-child(4)>ul{
        color: grey;
        text-decoration: none;
        position: absolute;
        right: 60px;
        margin-top: 170px;
    }
    footer>section:nth-child(4)>ul>li>a{
        color: grey;
        font-size: 15px;
        font-family: "Inter", sans-serif;
        font-optical-sizing: auto;
        font-weight: <weight>;
        font-style: normal;
    }
    footer>section:nth-child(5)>h3:first-child>a{
        position: absolute;
        color: #FD6B11;
        font-size: 13px;
        /*right: 200px;*/
        left: 65px;
        margin-top: 370px;
    }

    footer>section:nth-child(5)>h3:nth-child(2)>a{
        position: absolute;
        color: white;
        font-size: 13px;
        /*right: 65px;*/
        left: 190px;
        margin-top: 370px;
    }
    footer>section:nth-child(6)>div:nth-child(1){
        width: 100vw;
        height: 1px;
        position: absolute;
        background-color: grey;
        margin-top: -10px;

    }
    footer>section:nth-child(6)>div:nth-child(2){
        width: 100vw;
        height: 1px;
        position: absolute;
        background-color: grey;
        margin-top: 75px;

    }
    footer>section:nth-child(6)>div:nth-child(3){
        width: 1px;
        height: 160px;
        position: absolute;
        background-color: white;
        margin-left: 190px;
        margin-top: 130px;
    }
}

/*media query for Mobile Small size(320px)*/
@media all and (max-width: 320px) {
    footer{
        position: absolute;
        background: black;
        width: 320px;
        height: 410px;

    }

    footer>section:nth-child(3)>p{
        color: grey;
        font-size: 15px;
        position: absolute;
        left: 30px;
        margin-right: 450px;
        margin-top: 130px;
        font-family: "Inter", sans-serif;
        font-optical-sizing: auto;
        font-weight: <weight>;
        font-style: normal;


    }
    footer>section:nth-child(3)>div{
        color: #FD6B11;
        font-size: 17px;
        position: absolute;
        left: 30px;
        margin-top: 300px;
    }
    footer>section:nth-child(4)>h4{
        color: white;
        font-size: 16px;
        position: absolute;
        right:30px;
        margin-top: 130px;
    }
    footer>section:nth-child(4)>ul{
        color: grey;
        text-decoration: none;
        position: absolute;
        right: 30px;
        margin-top: 170px;
    }
    footer>section:nth-child(4)>ul>li>a{
        color: grey;
        font-size: 15px;
        font-family: "Inter", sans-serif;
        font-optical-sizing: auto;
        font-weight: <weight>;
        font-style: normal;
    }
    footer>section:nth-child(5)>h3:first-child>a{
        position: absolute;
        color: #FD6B11;
        font-size: 13px;
        /*right: 200px;*/
        left: 35px;
        margin-top: 370px;
    }

    footer>section:nth-child(5)>h3:nth-child(2)>a{
        position: absolute;
        color: white;
        font-size: 13px;
        /*right: 65px;*/
        left: 160px;
        margin-top: 370px;
    }
    footer>section:nth-child(6)>div:nth-child(1){
        width: 100vw;
        height: 1px;
        position: absolute;
        background-color: grey;
        margin-top: -10px;

    }
    footer>section:nth-child(6)>div:nth-child(2){
        width: 100vw;
        height: 1px;
        position: absolute;
        background-color: grey;
        margin-top: 75px;

    }
    footer>section:nth-child(6)>div:nth-child(3){
        width: 1px;
        height: 160px;
        position: absolute;
        background-color: white;
        margin-left: 170px;
        margin-top: 130px;
    }
}