footer{
    background: black;
    width: 100vw;
    height: 400px;

}
footer>section>div>img{
    width: 50px;
    height: 50px;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    margin-top: 50px;
}
footer>section:first-child>div:nth-child(1)>img{
    right: 40vw;
    z-index: 9999;
}
footer>section:first-child>div:nth-child(2)>img{
    right: 20vw;
    z-index: 9999;
}
footer>section:first-child>div:nth-child(3)>img{
    left: 0;
    z-index: 9999;
}
footer>section:first-child>div:nth-child(4)>img{
    left: 20vw;
    z-index: 9999;
}
footer>section:first-child>div:nth-child(5)>img{
    left: 40vw;
    z-index: 9999;
}
footer>section:nth-child(2)>div{
    height: 90px;
    width: 90px;
    background-color: black;
    position: absolute;
    display: inline;
    border-radius: 20px;
    left: 0;
    right: 0;
    margin: auto;
    margin-top: 30px;
    border: 2px solid #FD6B11;
}
footer>section:nth-child(2)>div:nth-child(1){
    right: 40vw;

}
footer>section:nth-child(2)>div:nth-child(2){
    right: 20vw;
}
footer>section:nth-child(2)>div:nth-child(3){
    left: 0;
}
footer>section:nth-child(2)>div:nth-child(4){
    left: 20vw;
}
footer>section:nth-child(2)>div:nth-child(5){
    left: 40vw;
}
footer>section:nth-child(3)>p{
    color: grey;
    font-size: 20px;
    position: absolute;
    left: 400px;
    margin-right: 1000px;
    margin-top: 200px;


}
footer>section:nth-child(3)>div{
    color: #FD6B11;
    font-size: 30px;
    position: absolute;
    left: 400px;
    margin-top: 280px;
}
footer>section:nth-child(4)>h4{
    color: white;
    font-size: 25px;
    position: absolute;
    right: 700px;
    margin-top: 200px;
}
footer>section:nth-child(4)>ul{
    color: grey;
    text-decoration: none;
    position: absolute;
    right: 700px;
    margin-top: 250px;
}
footer>section:nth-child(4)>ul>li>a{
    color: grey;
    font-size: 20px;
}
footer>section:nth-child(5)>h3:first-child>a{
    position: absolute;
    color: #FD6B11;
    font-size: 25px;
    right: 200px;
    margin-top: 360px;
}
footer>section:nth-child(5)>h3:nth-child(2)>a{
    position: absolute;
    color: white;
    font-size: 25px;
    right: 65px;
    margin-top: 360px;
}