

/* General gallery styling */
#gallery {
    background: black;
    width: 100vw;
    height: 900px;
    display: flex;
    flex-direction: column;
}

/* Section heading styling */
#gallery > section:first-child > h3 {
    color: #FD6B11;
    position: absolute;
    left: 37vw;
}

#gallery > section:first-child > div > h1 {
    color: white;
    font-size: 60px;
    position: absolute;
    left: 40vw;
}

/* Card container */
.Container {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 180px;
    margin-left: 200px;
    overflow: hidden;
    transform: skew(5deg);
    width: 1500px;
    height: 700px;
}

/* Individual card styling */
.Card {
    flex: 1;
    transition: all 1s ease-in-out;
    height: 75vmin;
    position: relative;
    margin-right: 1em;
}

/* Image styling with grayscale and transition */
.Card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all 1s ease-in-out;
    filter: grayscale(100%);
}

/* Card heading */
.Card__head {
    color: black;
    background: #FD6B11;
    padding: 0.5em;
    transform: rotate(-90deg);
    transform-origin: 0% 0%;
    transition: all 0.5s ease-in-out;
    width: 100%;
    text-align: center;
    position: absolute;
    bottom: 100px;  /* Start off the card, out of view */
    left: 0;
    font-size: 1em;
    white-space: nowrap;
}

/* Hover effect */
.Card:hover {
    flex-grow: 10;
}

/* Image effect on hover */
.Card:hover img {
    filter: grayscale(0) brightness(1.2);
}

/* Card heading transition on hover */
.Card:hover .Card__head {
    text-align: center;
    bottom: 0;  /* Transition to the bottom of the card */
    color: white;
    background: rgba(0, 0, 0, 0.5);
    font-size: 2em;
    transform: rotate(0deg) skew(-5deg);
}

/*media query for large laptop(1440px)*/
@media all and (max-width: 1440px) {
    #gallery {
        background: black;
        width: 1440px;
        height: 910px;
        display: flex;
        flex-direction: column;
        margin: 0 auto;
    }

    /* Section heading styling */
    #gallery > section:first-child > h3 {
        color: #FD6B11;
        position: absolute;
        left: 33vw;
    }

    #gallery > section:first-child > div > h1 {
        color: white;
        font-size: 60px;
        position: absolute;
        left: 35vw;
    }

    /* Card container */
    .Container {
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 150px;
        margin-left: 100px;
        overflow: hidden;
        transform: skew(5deg);
        width: 1250px;
        height: 700px;
    }

    /* Individual card styling */
    .Card {
        flex: 1;
        transition: all 1s ease-in-out;
        height: 70vmin;
        position: relative;
        margin-right: 1em;
    }

    /* Image styling with grayscale and transition */
    .Card img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        transition: all 1s ease-in-out;
        filter: grayscale(100%);
    }

    /* Card heading */
    .Card__head {
        color: black;
        background: #FD6B11;
        padding: 0.5em;
        transform: rotate(-90deg);
        transform-origin: 0% 0%;
        transition: all 0.5s ease-in-out;
        width: 100%;
        text-align: center;
        position: absolute;
        bottom: 100px; /* Start off the card, out of view */
        left: 0;
        font-size: 1.2em;
        white-space: nowrap;
    }

    /* Hover effect */
    .Card:hover {
        flex-grow: 10;
    }

    /* Image effect on hover */
    .Card:hover img {
        filter: grayscale(0) brightness(1.2);
    }

    /* Card heading transition on hover */
    .Card:hover .Card__head {
        text-align: center;
        bottom: 0; /* Transition to the bottom of the card */
        color: white;
        background: rgba(0, 0, 0, 0.5);
        font-size: 2em;
        transform: rotate(0deg) skew(-5deg);
    }
}

/*media query for large laptop(1024px)*/
@media all and (max-width: 1024px) {
    #gallery {
        background: black;
        width: 1024px;
        height: 750px;
        display: flex;
        flex-direction: column;
        margin: 0 auto;
    }

    /* Section heading styling */
    #gallery > section:first-child > h3 {
        color: #FD6B11;
        position: absolute;
        left: 35vw;
        font-size: 15px;
    }

    #gallery > section:first-child > div > h1 {
        color: white;
        font-size: 50px;
        position: absolute;
        left: 37vw;
    }

    /* Card container */
    .Container {
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 150px;
        margin-left: 100px;
        overflow: hidden;
        transform: skew(5deg);
        width: 850px;
        height: 600px;
    }


}




