#Home{
    display: flex;
    position: relative;
    background-color: #120D06;
    width: 100vw;
    height: 800px;
}
#Home>section:first-child>h1{
    position: absolute;
    top: 30vh;
    font-size: 40px;
    color: white;
    left: 15vw;
    margin: 0;
}
#Home>section:first-child>h2{

    position: absolute;
    top: 35vh;
    font-size: 40px;
    color: #FD6B11;
    left: 15vw;
    margin: 0;
}
#Home>section:first-child>h3{

    position: absolute;
    top: 40vh;
    font-size: 20px;
    color: white;
    left: 15vw;
    margin-right: 1200px;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
}
#Home>section:nth-child(2)>img{
    width: 530px;
    right: 150px;
    top: 70px;
    position: absolute;

}
#Home>section:nth-child(4)>div>img{
    width: 40px;
    height: 40px;
    position: absolute;
    /*left: 35vw;*/
    top: 76vh;

    left: 0;
    right: 0;
    margin: auto;


}
#Home>section:nth-child(4)>div:nth-child(1)>img{
    left: 10vw;
    right: 65vw;

}
#Home>section:nth-child(4)>div:nth-child(2)>img{
    left: 20vw;
    right: 65vw;
}
#Home>section:nth-child(4)>div:nth-child(3)>img{
    left: 30vw;
    right: 65vw;
}
#Home>section:nth-child(4)>div:nth-child(4)>img{
    right: 65vw;
}
#Home>section:first-child>h4{
    position: absolute;
    color: white;
    font-size: 20px;
    left: 15vw;
   top: 65vh;
    font-family: "Hubballi", sans-serif;
    font-weight: 400;
    font-style: normal;
}
#Home>section:nth-child(3)>div{
    height: 60px;
    width: 60px;
    background-color: black;
    position: absolute;
    display: inline;
    border-radius: 20px;
    left: 0;
    right: 0;
    margin: auto;
    top: 75vh;
    border: 1px solid #FD6B11;

}
#Home>section:nth-child(3)>div:hover {
    height: 70px;
    width: 70px;
    left: 0;
    right: 0;
    margin: auto;
    top: 75vh;
    position: absolute;
    border-radius: 20px;
    background-color: #FD6B11;
    border: 1px solid white;
    box-shadow: 10px 5px 50px grey;

}
#Home>section:nth-child(3)>div:nth-child(1){
    left: 10vw;
    right: 65vw;
}
#Home>section:nth-child(3)>div:nth-child(2){
    left: 20vw;
    right: 65vw;
}
#Home>section:nth-child(3)>div:nth-child(3){
    left: 30vw;
    right: 65vw;
}
#Home>section:nth-child(3)>div:nth-child(4){
    right: 65vw;
}
#Home>section:first-child>div:nth-child(2){
    position: absolute;
    width: 800px;
    height: 400px;
    color: #120D06;
    border: 15px solid #FD6B11;
    right: 0;
    bottom: 100px;
    background-color: #120D06;
}
#Home>section:first-child>div:first-child{
    position: absolute;
    width: 700px;
    height: 500px;
    border-radius: 100%;
    background: linear-gradient(200deg,#FD6B11,white);
    filter: blur(100px);
    right: 150px;
    margin-top: 220px;
}

/*media query for large laptop(1440px)*/
@media all and (max-width: 1440px) {
    #Home{
        display: flex;
        position: relative;
        background-color: #120D06;
        width: 1880px;
        height: 910px;
    }
    #Home>section:first-child>h1{
        position: absolute;
        top: 30vh;
        font-size: 40px;
        color: white;
        left: 15vw;
        margin: 0;
    }
    #Home>section:first-child>h2{

        position: absolute;
        top: 35vh;
        font-size: 40px;
        color: #FD6B11;
        left: 15vw;
        margin: 0;
    }
    #Home>section:first-child>h3{

        position: absolute;
        top: 40vh;
        font-size: 20px;
        color: white;
        left: 15vw;
        margin-right: 1200px;
        font-family: "Inter", sans-serif;
        font-optical-sizing: auto;
        font-weight: <weight>;
        font-style: normal;
    }
    #Home>section:nth-child(2)>img{
        width: 530px;
        right: 450px;
        top: 70px;
        position: absolute;

    }
    #Home>section:nth-child(4)>div>img{
        width: 40px;
        height: 40px;
        position: absolute;
        /*left: 35vw;*/
        top: 76vh;

        left: 0;
        right: 0;
        margin: auto;


    }
    #Home>section:nth-child(4)>div:nth-child(1)>img{
        left: -30vw;
        right: 65vw;

    }
    #Home>section:nth-child(4)>div:nth-child(2)>img{
        left: -15vw;
        right: 65vw;
    }
    #Home>section:nth-child(4)>div:nth-child(3)>img{
        left: 15vw;
        right: 65vw;
    }
    #Home>section:nth-child(4)>div:nth-child(4)>img{
        right: 65vw;
    }
    #Home>section:first-child>h4{
        position: absolute;
        color: white;
        font-size: 20px;
        left: 15vw;
        top: 65vh;
        font-family: "Hubballi", sans-serif;
        font-weight: 400;
        font-style: normal;
    }
    #Home>section:nth-child(3)>div{
        height: 60px;
        width: 60px;
        background-color: black;
        position: absolute;
        display: inline;
        border-radius: 20px;
        left: 0;
        right: 0;
        margin: auto;
        top: 75vh;
        border: 1px solid #FD6B11;

    }
    #Home>section:nth-child(3)>div:hover {
        height: 70px;
        width: 70px;
        left: 0;
        right: 0;
        margin: auto;
        top: 75vh;
        position: absolute;
        border-radius: 20px;
        background-color: #FD6B11;
        border: 1px solid white;
        box-shadow: 10px 5px 50px grey;

    }
    #Home>section:nth-child(3)>div:nth-child(1){
        left: -30vw;
        right: 65vw;
    }
    #Home>section:nth-child(3)>div:nth-child(2){
        left: -15vw;
        right: 65vw;
    }
    #Home>section:nth-child(3)>div:nth-child(3){
        left: 15vw;
        right: 65vw;
    }
    #Home>section:nth-child(3)>div:nth-child(4){
        right: 65vw;
    }
    #Home>section:first-child>div:nth-child(2){
        position: absolute;
        width: 800px;
        height: 400px;
        color: #120D06;
        border: 15px solid #FD6B11;
        right: 200px;
        bottom: 180px;
        background-color: #120D06;
    }
    #Home>section:first-child>div:first-child{
        position: absolute;
        width: 700px;
        height: 500px;
        border-radius: 100%;
        background: linear-gradient(200deg,#FD6B11,white);
        filter: blur(100px);
        right: 350px;
        margin-top: 220px;
    }
}
