#welcome{
    display: flex;
    background-color: black;
    width: 1880px;
    height: 800px;
    margin-top: 60px;

}
#welcome>section>div:nth-child(3)>img{
    width: 600px;
    margin-left: 200px;
    position: absolute;
    bottom: 100px;
}

#welcome>section>div:nth-child(3)>h1{
    color: white;
    position: absolute;
    font-size: 350px;
    display: flex;
    left: 1100px;
    bottom: 300px;
    margin: 0;
    font-family: "Island Moments", cursive;
    font-weight: 400;
    font-style: normal;

}
#welcome>section>div:nth-child(3)>h2{
    color: #FD6B11;
    position: absolute;
    font-size: 350px;
    display: flex;
    left: 900px;
    bottom: 300px;
    margin: 0;
    font-family: "Island Moments", cursive;
    font-weight: 400;
    font-style: normal;
}
#welcome>section>div:nth-child(3)>h3{
    color: white;
    position: absolute;
    font-size: 30px;
    left:1100px;
    bottom: 360px;
    font-family: "Julius Sans One", sans-serif;
    font-weight: 400;
    font-style: normal;
}
#welcome>section>div:nth-child(2){
    position: absolute;
    width: 500px;
    height: 600px;
    border: 10px solid white;
    top: 183px;
    left: 150px;
    background: black;
}
#welcome>section>div:first-child{
    position: absolute;
    width: 700px;
    height: 700px;
    border-radius: 100%;
    background: linear-gradient(120deg,#FD6B11,white);
    filter: blur(100px);
    left: 60px;
    margin-top: 70px;
}

/*media query for large laptop(1440px)*/
@media all and(max-width: 1440px) {
    #welcome{
        display: flex;
        background-color: black;
        width: 1440px;
        height: 800px;
        margin-top: 60px;

    }
}

