#welcome{
    display: flex;
    background-color: black;
    width: 100%;
    height: 800px;
    margin-top: 60px;

}
#welcome>section>div>img{
    width: 600px;
    margin-left: 200px;
    position: absolute;
}

#welcome>section>div>h1{
    color: white;
    position: absolute;
    font-size: 200px;
    display: flex;
    left: 800px;
    bottom: 300px;
    margin: 0;

}
#welcome>section>div>h3{
    color: white;
    position: absolute;
    font-size: 30px;
    left:1000px;
    bottom: 270px;
}
